modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["jq"]

[deployment]
deploymentTarget = "autoscale"
build = ["sh", "-c", "npm run build"]
run = ["sh", "-c", "npm start"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Production"
author = 43362942
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "NODE_ENV=production npm start"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33629
externalPort = 3002

[[ports]]
localPort = 33767
externalPort = 6800

[[ports]]
localPort = 34571
externalPort = 4200

[[ports]]
localPort = 35321
externalPort = 8081

[[ports]]
localPort = 36017
externalPort = 8000

[[ports]]
localPort = 38825
externalPort = 8080

[[ports]]
localPort = 39777
externalPort = 3000

[[ports]]
localPort = 40357
externalPort = 3003

[[ports]]
localPort = 41607
externalPort = 6000

[[ports]]
localPort = 42493
externalPort = 5000

[[ports]]
localPort = 43901
externalPort = 3001

[[ports]]
localPort = 45225
externalPort = 8008

[[ports]]
localPort = 46377
externalPort = 5173

[agent]
